html {
    height: 100%;

}

body {
    background: #f1f9ff;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
}

#root {
    height: 100%;
}

.all-wrapper {
    height: 100%;
}

h1, h2, h3, h4 {
    font-size: 17px;
    margin: 7px 0 7px 0;
    display: inline-block;
}

/*::-webkit-scrollbar {*/
/*width: 0;*/
/*background: transparent; !* optional: just make scrollbar invisible *!*/
/*}*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    /*border: 1px solid yellowgreen;*/
}

::-webkit-scrollbar-thumb {
    background: #d8d8d8;
}

::-webkit-scrollbar-thumb:hover {
    background: #bcbcbc;
}

.label {
    color: #3a3a3a;
}

p {
    margin: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: rgb(62, 62, 62);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.publications-wrapper {
    position: relative;
    padding: 20px;
}

.add-dev {
    font-size: 14px;
}

.sign {
    color: rgb(62, 62, 62);
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 3px;
    cursor: pointer;
}

.sign:hover,
.sign:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px 30px 16px;
}

.modal-body {
    /*padding: 0px 45px 45px;*/
}

.modal-body .modal-input {
    width: 70%;
}

.modal-body .modal-button {
    width: 30%;
}

.modal-footer {
    padding: 2px 16px;
    /*background-color: #5cb85c;*/
    /*color: white;*/
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4c82af;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #f2f2f2;
    font-size: 14px;
    /*-webkit-transition: all 0.3 ease;*/
    /*transition: all 0.3 ease;*/
    cursor: pointer;
}

.logout-form {
    display: inline-block;
}

.short-btn {
    padding: 10px;
    width: inherit;
    font-weight: 600;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.button:hover, .button:active, .button:focus {
    background: #203f4d;
    color: #fff;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4c86af;
    text-decoration: none;
}

.form .register-form {

}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

.form-checkbox {
    float: left;
}

.form-checkbox input {
    float: left;
    width: initial;
    margin-right: 8px;
    margin-top: 3px;
}

.header {
    position: fixed;
    text-align: right;
    width: 100%;
    box-shadow: 0 0 9px -4px black;
    z-index: 1;
    background-color: #aedcff;
    margin: 0 auto;
    height: 36px;
}

.header .wrapper {
    max-width: 1000px;
}

.header span {
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-buttons {

}

.main-wrapper {
    position: relative;
    top: 36px;
}

.add-publication {
    padding-top: 10px;
}

.add-publication .add-publication-form {
    width: 80%;
    min-width: 700px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: white;
    box-shadow: 0 0 9px -3px black;
}

.add-publication-form .add-form-input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.add-publication-form .add-publication-title {

}

.add-publication-form .add-form-btn {
    width: 100%;
}

.add-publication-form .add-publication-text {
    overflow: scroll;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    max-width: 100%;
    width: 100%;
    max-height: 200px;
    height: 170px;
    resize: none;
}