.publication-page {
    width: 90%;
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;

    .publication-page-wrapper {
        width: 100%;
        min-width: 700px;
        height: calc(100% - 20px);
        margin: 20px auto 10px;
        position: relative;
        padding-bottom: 0;
        box-sizing: border-box;
        box-shadow: 0 0 2px 0 #616161;
        .publication-page-header {
            height: 36px;
            padding: 0 20px;
            background: linear-gradient(to right, #6b9dca 0%, #b8dfff 100%);
        }
        .publication-page-name {
            font-size: 22px;
            line-height: 36px;
            display: inline-block;
        }

        .publication-page-date {
            display: inline-block;
            float: right;
            height: 100%;
            line-height: 36px;
            font-size: 14px;
        }

        .publication-page-text {
            background-color: white;
            padding: 10px 20px;
        }
    }
}