html {
    height: 100%;

}

body {
    background: #f7f7f7;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
}

#root {
    height: 100%;
}

.all-wrapper {
    height: 100%;
}

h1, h2, h3, h4 {
    font-size: 17px;
    margin: 7px 0 7px 0;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    /*border: 1px solid #c2c2c2;*/
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
}

::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6;
}

.label {
    color: #3a3a3a;
}

p {
    margin: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: rgb(62, 62, 62);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.publications {
    height: 100%;
}

.publications-wrapper {
    width: 90%;
    min-width: 700px;
    height: calc(100% - 20px);
    margin: 0 auto;
    margin-bottom: 0;
    position: relative;
    padding: 20px;
    padding-bottom: 0;
    box-sizing: content-box;
}

.publications-wrapper .publication-link {
    text-decoration: none;
    color: black;
    display: block;
    /* background-color: #e9f6ff; */
    background-color: #ffffff;
    border-bottom: 1px dotted #bbe2ff;
    /* padding-left: 10px; */
    box-shadow: 0 2px 9px -4px black;
    height: 17%;
}

.publication-link:hover .publication-header {
    background-color: #6aaad8;
    box-shadow: inset 0 0 10px -5px black;
}

.publication-header {
    /* width: 100%; */
    height: 36px;
    padding: 0 10px;
    background-color: #d1e6f5;
}

.publication-author {
    display: inline-block;
    float: right;
    line-height: 36px;
    height: 100%;
    padding-right: 10px;
    font-size: 14px;
}

.publication-name {
    font-size: 22px;
    line-height: 36px;
    display: inline-block;
}

.publication-text {
    /* height: 50%; */
    width: 96%;
    font-size: 0.9em;
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
    padding-left: 10px;
    padding-top: 8px;
    background-color: white;
}

/* create the ... */
.publication-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}

/* hide ... if we have text, which is less than or equal to max lines */
.publication-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

.publication-date {
    display: inline-block;
    float: right;
    height: 100%;
    line-height: 36px;
    font-size: 14px;
}

.add-dev {
    font-size: 14px;
}

.sign {
    color: rgb(62, 62, 62);
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 3px;
    cursor: pointer;
}

.sign:hover,
.sign:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px 30px 16px;
}

.modal-body {
    /*padding: 0px 45px 45px;*/
}

.modal-body .modal-input {
    width: 70%;
}

.modal-body .modal-button {
    width: 30%;
}

.modal-footer {
    padding: 2px 16px;
    /*background-color: #5cb85c;*/
    /*color: white;*/
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4c82af;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #f2f2f2;
    font-size: 14px;
    /*-webkit-transition: all 0.3 ease;*/
    /*transition: all 0.3 ease;*/
    cursor: pointer;
}

.logout-form {
    display: inline-block;
}

.short-btn {
    padding: 10px;
    width: inherit;
    font-weight: 600;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.button:hover, .button:active, .button:focus {
    background: #203f4d;
    color: #fff;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4c86af;
    text-decoration: none;
}

.form .register-form {

}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

.form-checkbox {
    float: left;
}

.form-checkbox input {
    float: left;
    width: initial;
    margin-right: 8px;
    margin-top: 3px;
}

.header {
    position: fixed;
    text-align: right;
    width: 100%;
    box-shadow: 0 0 9px -4px black;
    z-index: 1;
    background-color: #aedcff;
    margin: 0 auto;
    /* padding: 0 20px; */
    height: 36px;
}

.header .wrapper {
    max-width: 1000px;
}

.header span {
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    /* margin-left: 20px; */
}

.header-buttons {

}

.header-content {
    width: 90%;
    min-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-wrapper {
    padding-top: 36px;
    position: relative;
    top: 0;
    height: calc(100% - 36px);
}

.add-publication {
    padding-top: 20px;
}

.add-publication .add-publication-form {
    width: 90%;
    min-width: 700px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: white;
    box-shadow: 0 0 9px -3px black;
    box-sizing: border-box;
}

.add-publication-form .add-form-input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.add-publication-form .add-publication-title {

}

.add-publication-form .add-form-btn {
    width: 100%;
}

.add-publication-form .add-publication-text {
    overflow: scroll;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    max-width: 100%;
    width: 100%;
    max-height: 200px;
    height: 170px;
    resize: none;
}

.publication-page {
    width: 90%;
    min-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

.react-paginate {
    text-align: center;
    user-select: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.react-paginate .previous a, .react-paginate .next a {
    width: 70px;
    display: inline-block;
}

.react-paginate ul {
    margin: 0 0 15px 0;
    padding: 0;
}

.react-paginate li {
    display: inline-block;
    cursor: pointer;
}

.react-paginate li:focus, .react-paginate a:focus {
    outline: none;
}

.react-paginate li a {
    position: relative;
    /* float: left; */
    padding: 6px 12px;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    cursor: pointer;
}

.react-paginate li a:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.react-paginate .active a {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}

.react-paginate .active a:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}

.react-paginate .break-me a {
    cursor: default;
}

.react-paginate .break a {
    cursor: default;
}

/*PUBLICATION PAGE*/

.publication-page-wrapper {
    width: 100%;
    min-width: 700px;
    height: calc(100% - 20px);
    margin: 20px auto 0;
    position: relative;
    /* padding: 20px; */
    padding-bottom: 0;
    box-sizing: content-box;
    box-shadow: 0 0 7px -3px black;
}

.publication-page-header {
    height: 36px;
    padding: 0 20px;
    background-color: #d1e6f5;
}

.publication-page-name {
    font-size: 22px;
    line-height: 36px;
    display: inline-block;
}

.publication-page-date {
    display: inline-block;
    float: right;
    height: 100%;
    line-height: 36px;
    font-size: 14px;
}

.publication-page-text {
    background-color: white;
    padding: 10px 20px;
}

.publication-delete-btn {
    display: inline-block;
    float: right;
    height: 100%;
    line-height: 36px;
    font-size: 14px;
}

.publication-delete-btn .short-btn {
    padding: 0;
    height: 100%;
    width: 30px;
    border: none;
    font-size: 15px;
    font-weight: 200;
    background-color: transparent;
    color: #d1e6f5;
}

.publication-delete-btn .short-btn:hover {
    color: #8a2727;
}